body,
html,
#root {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: "Public Sans", sans-serif !important;
}

.main-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.main-container-left {
	display: flex;
	flex-direction: column;
}

.main-container-right {
	display: flex;
	flex-direction: column;
}

.main-login {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.login-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: lightgrey;
	padding: 2rem;
	box-shadow: 5px 5px 5px grey;
	border-radius: 5px;
	width: fit-content;
	height: fit-content;
}

.login-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	gap: 10px;
}

.login-form > label {
	gap: 10px;
	display: flex;
}

.not-found-page {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
}

.return-button {
	background-color: lightgrey;
	padding: 10px;
	border-radius: 5px;
	text-decoration: none;
	color: black;
	border: 1px solid black;
	cursor: pointer;
	font-size: 18px;
	font-weight: bold;
	box-shadow: 5px 5px 5px grey;
}
